torch>=2.0.0
transformers>=4.57.3
ninja
accelerate
qwen-tts>=0.1.1
numpy
soundfile

openai>=1.0.0
pipecat-ai[daily,deepgram,google,runner,silero]

# WebRTC prebuilt UI (serves /client in browser)
pipecat-ai-small-webrtc-prebuilt
